html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://i.ytimg.com/vi/W_qSB0JCoWo/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
  }

  .container {
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  textarea, input[type="text"] {
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    resize: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
  }
